body {
	background-color: #ffffff;
}

@media screen and (max-width: 1080px) {
	body {
		background-color: #90ee90;
	}
}

@media screen and (max-width: 550px) {
	body {
		background-color: #20b2aa;
	}
}

@media screen and (max-width: 400px) {
	body {
		background-color: #ba55d3;
	}
}
